
body { background-colorss: #dfe5df;}

h1 {
    color: white;
    margin-left: 100px;
    z-index:1;
}

body {  margin: 0px;}

.toolbar {
    background-color: #2473d1;
    height: 80px;
    width: 100%;
}

.toolbar-items {
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    position: absolute;
    right: 0%;
    top:5%;
    z-index:1;
}

.ml-auto {
    margin-left: auto !important;
    z-index:1;
}

.column {
    margin:0px 20px 10px 20px;
    padding: 5px;
    color:white;
    z-index:1;
}

.fancy-bkground {
    width:100%;
    height:600px;
    position: relative;
    top:0px;
    background-position: center 39%;
    z-index: -10;
}

.fancy-bkground-overlay {
    width:100%;
    height:600px;
    position: absolute;
    top:0px;
    bottom:0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -5;
}

.align-row {
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
}

.toolbar-btn {
    opacity: 70%;
    font-size: 18px;
    font-weight: 600;
    line-height: 44px;
    padding: 15px 15px;
    width: 160px;
    height: 46px;
    box-sizing: border-box;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    -webkit-transition-duration: 1000ms;
    transition-duration: 1000ms;
    position: relative;
    z-index: 1;
}

.toolbar-btn:after {
    color: #fff;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    background: #6798d3;
    
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 2px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}


.toolbar-btn:hover:after,
.toolbar-btn.toolbar-active:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}

.rounded-square {
    width:50px;
     height:50px; background-color: #fff;  border-radius: 2px;
    opacity: 70%;
    margin-top: 15px;
    text-align: center;
}

.txt-center {text-align: center;}

.side-bar-block {

    background-color: #ffffff; 
    position: absolute;
    left: 0;
    top: 80px;
    right: 78%;
    bottom: 0;   
    height: 100%; 
}

.green-btn {
        background-color: #23af5e;
        width:80px;
        height: 50px;
        padding: 11px 23px;
        border-radius: 4px
}

.container {
    position: absolute; 
    right: 0%; width: 78%; background-color: #42b142;
    height: auto;
}

.lang-btn {
    background-color: #ffffff;
    width:120px;
    height: 50px;
    padding: 11px 20px;
    border-radius: 6px 0px 0px 6px;
}

.box {
    width: 100%; 
    height: 100px; 
    margin-top: 30px;
    background-color: #ffffff; 
    border-radius: 5px;
}

.arrow-btn {
    background-color: #ffffff;
     border-radius: 0px 6px 6px 0px;
      margin-left: 2px;
       width: 50px; 
       height: 50px; 
       padding: 11px 20px;
}


.box1 {
    width: 100%; 
    height: 300px; 
    margin-top: 40px;
    background-color: #dfe5df; 
    border-radius: 5px;
}

.box3 {
    width: 90%; 
    height: 300px; 
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 95px; 
    background-color: #ffffff; 
    border-radius: 5px;
}

.box2 {
    width: 100%; 
     height: 500px; 
    margin-top: 40px;
    background-color: #ffffff; 
    border-radius: 5px;
}

.action-btn {
    width: 150px; 
    height: 70px; 
    background-color: #2766cd; 
    border-radius: 6px 0px 0px 6px;
    padding-top: 22px;
}

.complete-action-btn-fancy {
    width: 400px; 
    height: 70px; 
    background-color: #ffffff; 
    border-radius:  0px 6px 6px 0px;
    padding-top: 22px; 
    padding-left: 45px;
}

.action-btn-fancy {
    width: 70px; 
    height: 70px; 
    background-color: #ffffff; 
    border-radius: 2px;
 
    box-sizing: border-box;
    
    background-repeat: no-repeat;
    -webkit-transition-duration: 1000ms;
    transition-duration: 1000ms;
    position: relative;
    z-index: 1;
    color: #8a8c8e;

}

.action-btn-fancy:after {
    color: #fff;
    z-index: 1;
    background-color: #0569d4;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    top: -15px;
    left: -18px;
    z-index: -1;
    border-radius: 2px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}

.action-btn-fancy:hover:after,
.action-btn.action-btn-fancy-active:after  {
    color: #ffffff;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}

.section {
    height: 99px; 
    width: 849px; 
    margin-top: 1px; 
    margin-left: 1px; 
    background-color: #e8f5f7; 
    color: #8a8c8e;
}

.small-section {
    position: relative; 
    top: 0%; 
    left: 0%; 
    width: 100px; 
    height: 100px;
    background-color: #ffffff;
}

.small-section-border-radius {border-radius: 5px 0px 0px 0px; }

.small-section-border-radius-1 {border-radius: 5px 0px 0px 5px; }

.callout-section {
    padding-top: 14px; 
    padding-left: 17px; 
    color: #ffffff;
    width: 60px; 
    height: 60px; 
    border-radius: 5px; 
    background-color: #0569d4; 
    margin-top: 18px;  
    margin-left: 21px;
}

.callout-section-1 {
    padding-top: 14px; 
    padding-left: 17px; 
    color: #0569d4;
    width: 60px; 
    height: 60px; 
    border-radius: 5px; 
    background-color: #ffffff; 
    margin-top: 18px;  
    margin-left: 21px;
}

.section-big {
    height: 150px; 
    width: 849px; 
    margin-top: 1px; 
    margin-left: 1px; 
    background-color: #e8f5f7; 
    color: #8a8c8e;
}

.section-big-new {
    height: 280px; 
    width: 100%; 
    margin-top: 1px; 
    background-color: #e8f5f7; 
    color: #8a8c8e;
}

.customer-box {
    position: relative; 
    top: 20px; 
    right: -230px; 
    width: 70%; 
    height: 80px; 
    background-color: #ffffff;  
    padding: 10px 10px;
}

.text-style {width: 100%; height: 70px; padding-top: 20px; padding-left: 40px}

.scnd-toolbar {height: 80px; background-color: #ffffff; padding-top: 26px; padding-left: 60px; position: relative;}
.padding-30-20{padding-top: 20px; padding-left: 30px;}

.padding-25-40 {padding-top: 25px; margin-left: 40px;}

.color-padding { color: #ffffff; padding-left:10px;padding-top: 20px;}

.txt-box { margin-right: 20px ;color: #ffffff; text-decoration:none;}

.margin-txt-color {margin-right: 20px ; color: #ffffff; text-decoration:none;}

.min-box {height:80px;  position: absolute; right: 0px; width:23%;}

.icon-style {height: 199px; width:100px; margin-top: 1px; background-color: #e8f5f7; border-radius: 0px 0px 0px 5px; color: #8a8c8e;}

.amazon-box {
    width: 849px; margin-left: 1px; border-radius: 0px 5px 0px 0px; background-color: #ffffff;
    position: relative;
}

.capture-box { width: 849px; margin-left: 1px; border-radius: 0px 5px 0px 0px; background-color: #ffffff; position: relative;}

.callout-box-1 { height: 150px; width:100px; margin-top: 1px; background-color: #e8f5f7; border-radius: 0px 0px 0px 5px; color: #8a8c8e;}

.callout-box-2 {  height: 150px; width:100px; margin-top: 1px; background-color: #e8f5f7; border-radius: 0px 0px 0px 5px; color: #8a8c8e";
}

.local-box {
    margin-top: 10px; width: 200px; height: 75px; background-color: #ffffff; padding-top: 21px; padding-left: 36px;
}

.padding-border {
    padding-left: 13px; padding-top: 20px;  border-radius: 0px 0px 5px 0px;
}


.inner-box-1 {
    margin-top: 10px;  width: 700px; height: 75px; background-color: #ffffff; padding-top: 21px; padding-left: 36px;
}

.padding-16-16 {
    padding-left: 16px; padding-top: 16px;
}

.padding-color-2 {
    padding-top: 26px; padding-left: 31px; color: #f58e0b;
}

.question-box-1 {
    width: 849px; margin-left: 1px; border-radius: 0px 5px 0px 0px; background-color: #ffffff; position: relative;
}

.shipped-qstn {
    height: 80px; background-color: #ffffff; padding-top: 26px; padding-left: 60px; position: relative;
}

.padding-color-3 {
    padding-top: 34px; padding-left: 37px; color: #8a8c8e;
}

.meter-block {
    width: 400px; height: 10px; background-color: #ffffff; border-radius: 5px;
}


.main-block {
    position: absolute; top: 120px; left: 17%; width: 950px; height: auto;
}

.padding-15-15 {
    padding-left: 15px; padding-top: 15px;
}

.txt-msg-blk {
    width: 849px; margin-left: 1px; border-radius: 0px 5px 0px 0px; background-color: #ffffff; position: relative;
}

.padding-color-1 {
    color: #0569d4; padding-left: 31px; padding-top: 25px;
}

.local-box-1 {
    margin-top: 10px; width: 95%; height: 120px; background-color: #ffffff; padding-top: 21px; padding-left: 36px; border-radius: 5px;
}

.padding-border-1 {
    padding-left: 50px; padding-top: 30px;  border-radius: 0px 0px 5px 0px;
}

.false-box {
    position: relative; top: 20px; right: -230px; width: 70%; height: auto; background-color: #ffffff;  padding: 10px 10px;
}

.plus-icon {
    position: absolute; right: 3%; top: 10px;  background-color: #2473d1; width: 50px; height: 50px; border-radius: 4px;
}

.padding-color-4 {
    color: #ffffff; padding-left: 12px; padding-top: 7.5px;
}

.search-bar-inside {
    color: #8a8c8e;  padding-top: 25px; margin-left:20px;
}
.search-bar-main {
    height: 70px;  position: relative;
}

.recent-pos {
    color: #8a8c8e;  padding-top: 25px; margin-left:20px;
}

.header-bar {
    padding-top:20px; padding-right: 5px; margin-left:20px; position: relative;
}

.font-padding {
    padding-left:25px; font-size: 18px;
}.header-bar-txt {
    position: absolute; left: 45px; top: 22px; width: 250px;
}

.font-color {
    font-size: 16px; color: #8a8c8e;
}

.unpublished-style {
    color: #8a8c8e;  padding-top: 25px; margin-left:10px; margin-top: 20px;
}

.padding-20-30 {
    padding-top: 20px; padding-left: 30px;
}

.pos-rel {
    position: relative;
}

.pos-rel-1 {
    position: relative; float: right; right: -22%; width: 78%; height: 100%;
}

.pos-abs-1 {
    position: absolute; right: 0%; top: -69px;
}

.pos-abs-2 {
    position: absolute; float: right; right: 1.5%;
}

.pos-abs-3 {
    position: absolute; right: 4%; top: 31px;
}

.clr-1 {
    color:#8a8c8e;
}

.padding-50-20 {
    padding-left: 50px; padding-top: 20px;
}
.padding-50-35 {
    padding-left: 50px; padding-top: 35px;
    
}


.pos-abs-6 {
    position: absolute; right: 4%; top: 80px;
}
.pos-abs-7 {
    position: absolute; right: 4%; top:30px;
}

.bg-clr {
    background-color: #e8f5f7 ;
}

.bg-clr-2 {
    background-color: #dfe5df;
}

.br-clr-3 {
    background-color: #8a8c8e;
}

.h-400 {
    height: 400px;
}

.h-auto {
    height: auto;
}

.mg-color {
    margin-right: 15px;  color:#8a8c8e;
}

.padding-40-35 {
    padding-left: 40px; padding-top: 35px;
}

.padding-35-40 {
    padding-left: 35px; padding-top: 40px;
}

.padding-color-5 {
    color: #000000; padding-left: 20px;
}

.dull-clr-1 {
    color: #ffffff; opacity: 70%;
}
.clr-mrg {
    color:#8a8c8e; margin-right: 15px;
}
.clr-mrg-2 {
    color: #ffffff;  margin-right: 15px;
}

.txt-left {
    text-align: left;
}
.font-color-1 {
    color: #616261; font-size: 20px;
}

.h-100 {
    height: 100px;
}
.clr-2 {
    color: #8a8c8e;
}

.mg-color-1 {
    color:#8a8c8e; margin-right: 15px;
}

.mg-color-3 {
    color: #8a8c8e;margin-right: 50px;
}

.mg-top-lft {
    margin-top: 40px; margin-left: 210px;
}

.clr-white {
    color: #ffffff;
}

.padding-color-6 {
    color: #000000; padding-left: 288px;
}

.clr-black {
    color: #000000;
}

.bg-clr-black {
    background-color: #000000;
}

.padding-color-7 {
    color: #000000; padding-left: 310px;
}

.mg-top-lft-1 {
    margin-top: 40px; margin-left: 50px;
}